# Ignore vscode json files
.vscode/

# Ignore .class files from compilation
*.class

#Ignore any created .c or .h files
*.c
*.h

#Ignore any created .py files
*.py

#Ignore any .jott files in a folder other than test folders
*.jott

#Ignore any created output java files
*.java